.customize-control-kirki-color {
  .wp-picker-container {
    width: 100%;
    a.wp-color-result {
      width: auto;
      display: block;
      border: none;
      padding-left: 40px;
      &:after {
        background: rgba(0,0,0,.25);
        color: #fff;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      &:focus:after,
      &:hover:after {
        color: #fff;
      }
    }
  }
}
