@import "rtl.scss";

@media screen and (min-width: 1667px) {
  .wp-full-overlay.expanded {
    margin-left: 300px;
  }
}

#customize-theme-controls .customize-pane-child.open {
  overflow: visible;
}

.wp-full-overlay-sidebar {
  width: 300px;
}

.expanded .wp-full-overlay-footer {
  max-width: 299px;
}

.kirki-w100 {
  width: 100%;
}

.kirki-w50 {
  width: 50%;
}

.kirki-w45 {
  width: 45%;
}

.kirki-w40 {
  width: 40%;
}

.kirki-w33 {
  width: 33.3333%;
}

.kirki-w30 {
  width: 30%;
}

.kirki-w25 {
  width: 25%;
}

.kirki-w20 {
  width: 20%;
}

.kirki-w15 {
  width: 15%;
}

.kirki-w10 {
  width: 10%;
}

.kirki-w5 {
  width: 5%;
}

.control-section-kirki-default,
.control-section-kirki-outer {
  min-height: 100%;
}

.customize-control-has-small-gap {
  margin-bottom: 9px;
}

.customize-control-is-gapless {
  margin-bottom: 0;
}

.customize-control-kirki-hidden-field {
  margin-bottom: 0;
  height: 0;
}

.customize-control-kirki,
.customize-control-kirki * {
  box-sizing: border-box;
}

.customize-control-kirki.kirki-group-item {
  clear: none; // Override WordPress.
}

.kirki-group-item {
  float: left;
  clear: none;
  padding-left: 3px;
  padding-right: 3px;

  &.kirki-group-start {
    padding-left: 0;
    padding-right: 3px;
  }

  &.kirki-group-break,
  &.kirki-group-end {
    padding-left: 3px;
    padding-right: 0;
  }

  &.kirki-group-end {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0;
      clear: both;
    }
  }
}

.customize-control-kirki {
  position: relative;

  .kirki-control-label,
  label.customize-control-title {
    display: block;
  }

  .kirki-control-form {
    position: relative;

    textarea {
      display: block;
      width: 100%;
    }
  }
}
