---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
	font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab";
}

.top-bar {
	.top-bar-left,
	.top-bar-right {
		.menu {
			a {
				color: #333;
				text-transform: uppercase;
			}
		}
	}
	ul.menu {
		li.logo {
			img {
				max-height: 1rem;
				width: auto;
			}
		}
	}
}

.row.expanded .row {
	margin-left: 0;
}

.menu.docs-nav {
	background: #fafafa;
	margin-top: 1rem;
	margin-bottom: 1rem;
	.docs-nav-title {
		text-transform: uppercase;
		font-size: 0.75rem;
		color: #999;
		font-weight: bold;
		line-height: 1;
		padding-left: 0.9rem;
		margin-bottom: 0.5rem;
		border-top: 1px solid #e9e9e9;
		margin-top: 1rem;
		padding-top: 1.5rem;
	}
	> li {
		font-size: .8em;
		> a {
			padding: .3rem 1rem;
		}
	}
}

.docs-side-nav {
	li.side-nav-header {
		text-transform: uppercase;
		// font-size: 0.75rem;
		color: #999;
		font-weight: bold;
		line-height: 1;
		padding-left: 0.9rem;
		margin-bottom: 0.5rem;
		margin-top: 1rem;
		padding-top: 1.5rem;
	}
}

@import "code-highlight";
