---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
	font-family: Roboto;
	font-size: 1.1rem;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab";
}

#main {
	padding-top: 1rem;
}

#field-description,
#field-examples,
#field-usage {
	position: relative;
	min-height: 25vh;
	.button.improve-section {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.footer-subscribe {
	margin-top: 5rem;
}

.footer {
	padding: 2rem 0;
	border-top: 1px solid #777;
	background: #000;
	color: #fff;
}

.top-bar {
	background-color: #fff;
	ul {
		background-color: #fff;
	}
	.top-bar-left,
	.top-bar-right {
		.menu {
			a {
				color: #333;
				text-transform: uppercase;
			}
		}
	}
	ul.menu {
		li.logo {
			img {
				max-height: 1rem;
				width: auto;
			}
		}
	}
	&.navigation {
		border-bottom: 1px solid #dedede;
	}
}

.row.expanded .row {
	margin-left: 0;
}

.menu.docs-nav {
	background: #fafafa;
	margin-top: 1rem;
	margin-bottom: 1rem;
	.docs-nav-title {
		text-transform: uppercase;
		font-size: 0.75rem;
		color: #999;
		font-weight: bold;
		line-height: 1;
		padding-left: 0.9rem;
		margin-bottom: 0.5rem;
		border-top: 1px solid #e9e9e9;
		margin-top: 1rem;
		padding-top: 1.5rem;
	}
	> li {
		font-size: .9em;
		> a {
			padding: .5rem 1rem;
		}
	}
}

.docs-side-nav {
	li.side-nav-header {
		text-transform: uppercase;
		// font-size: 0.75rem;
		color: #999;
		font-weight: bold;
		line-height: 1;
		padding-left: 0.9rem;
		margin-bottom: 0.5rem;
		margin-top: 1rem;
		padding-top: 1.5rem;
	}
	.active {
		background: #2199e8;
		color: #fff;
	}
}

#mc_embed_signup {
	padding: 1rem;
	background: #f2f2f2;
	label {
		font-size: 1.1rem;
	}
}

.awesome-themes {
	text-align: center;
	h3 {
		margin: 3rem 0;
	}
	.item {
		padding-bottom: 2rem;
		.inner {
			-webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
			box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
			padding: .25rem;
			a {
				color: #000;
				h4 {
					font-size: 1.35rem;
				}
			}
		}
	}
}

@import "code-highlight";
