#customize-theme-controls .control-section {
	&.control-section-xtkirki-expanded {
		> ul.accordion-section-content {
			position: relative;
			left: 0;
			display: block;
			margin-top: 0 !important;
		}
	}
}
