#customize-theme-controls .control-section {
	&.control-section-kirki-hover {
		&:hover,
		&:focus,
		&:active {
			&:not(.open) {
				> ul.accordion-section-content {
					position: fixed;
					left: 300px;
					width: 300px;
					background: #eee;
					display: block;
					height: 100%;
					max-height: 100vh;
					overflow-y: scroll;
				}
				.customize-section-title {
					display: none;
				}
			}
		}
	}
}
