li {
  &[data-kirki-parent-control-type="kirki-typography"] {
    margin-bottom: 8px;

    &[kirki-typography-subcontrol-type="text-decoration"],
    &[kirki-typography-subcontrol-type="font-style"] {
      .customize-control-title {
        float: left;
      }

      .buttonset {
        float: right;
      }
    }

    &[kirki-typography-subcontrol-type="font-size"] label,
    &[kirki-typography-subcontrol-type="line-height"] label,
    &[kirki-typography-subcontrol-type="letter-spacing"] label,
    &[kirki-typography-subcontrol-type="word-spacing"] label,
    &[kirki-typography-subcontrol-type="text-decoration"] label,
    &[kirki-typography-subcontrol-type="margin-top"] label,
    &[kirki-typography-subcontrol-type="margin-bottom"] label,
    &[kirki-typography-subcontrol-type="text-transform"] label,
    &[kirki-typography-subcontrol-type="text-align"] label {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input,
      .select2-container {
        max-width: 100px;
      }
    }

    .customize-control-title {
      font-weight: 400;
    }
  }
}

.kirki-typography-end {
  margin-bottom: 12px;
}
