.kirki-reset-section {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	color: #fff;
	font-size: .8rem;
	border-radius: 3px;
	padding: 0 5px;
	transition: all .2s ease-in-out;
  font-weight: 400;
  text-decoration: none;
	.dashicons {
		font-size: .8rem;
    color: rgba(0,0,0,.1);
    height: .8rem;
    vertical-align: middle;
	}
  .label {
    width: 0;
    overflow: hidden;
    display: none;
  }
	&:hover,
	&:active {
		background: #F44336;
		color: #fff;
    .dashicons {
      color: #fff;
    }
    .label {
      width: auto;
      display: inline;
    }
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 1px #F44336,0 0 2px 1px rgba(200,50,30,.8);
		box-shadow: 0 0 0 1px #F44336,0 0 2px 1px rgba(200,50,30,.8);
	}
}
