.customize-control-kirki-background {
  position: relative;

  .background-attachment,
  .background-color,
  .background-position,
  .background-repeat,
  .background-size {
    h4 {
      margin-bottom: 5px;
    }
  }

  .background-attachment,
  .background-size {
    .buttonset {
      display: flex;
      flex-wrap: wrap;

      .switch-label {
        background: rgba(0,0,0,.05);
        border: 1px solid rgba(0,0,0,.1);
        color: #555;
        padding: 0.5em 1em;
        margin: 0;
        text-align: center;
        flex-grow: 1;

        &:last-child {}
      }

      .switch-input {
        &:checked {
          + .switch-label {
            background-color: #3498DB;
            color: #fff;
          }
        }
      }
    }
  }
}
