node_modules/
assets/vendor/
*.min.js
packages/kirki-framework/module-webfonts/src/assets/scripts/vendor-typekit/
packages/kirki-framework/control-select/src/assets/scripts/selectWoo/
packages/wptrt/
packages/squizlabs/
packages/phpunit/
Gruntfile.js
packages/kirki-framework/compatibility/src/scripts/
packages/kirki-framework/control-color/src/Control/wp-color-picker-alpha.js