<phpunit
	bootstrap="tests/test-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">./node_modules</directory>
				<directory suffix=".php">./tests</directory>
				<directory suffix=".php">./vendor</directory>
				<directory suffix=".php">./build</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="coverage-html" target="build/logs/html"/>
	</logging>
</phpunit>
