.control-section-kirki-default,
.control-section-kirki-outer {
  min-height: 100%;
}

.customize-control-has-small-gap {
  margin-bottom: 5px;
}

.customize-control-is-gapless {
  margin-bottom: 0;
}

.customize-control-kirki {
  .kirki-control-label,
  label.customize-control-title {
    display: block;
  }

  .kirki-control-form {
    position: relative;

    textarea {
      display: block;
      width: 100%;
    }
  }
}
