.customize-control .wp-picker-container {
  display: flex;
  flex-wrap: wrap;
}

.customize-control .wp-picker-holder {
  width: 100%;
}

.customize-control .iris-picker {
  width: 100% !important;
}

.customize-control .iris-picker:not(.iris-only-strip) .iris-picker-inner {
  display: flex;
}

.customize-control .iris-picker:not(.iris-only-strip) .iris-square {
  width: 100% !important;
  margin-right: 0;
}

.customize-control .iris-picker:not(.iris-only-strip) .iris-slider {
  width: 24px !important;
  margin-left: 8px !important;
}

.customize-control .iris-palette-container {
  width: calc(100% - 77px) !important;
  display: flex;
}

.customize-control .iris-palette {
  width: 100% !important;
}
