.customize-control-switch .fs-checkbox.fs-checkbox-enabled {
  cursor: pointer;
  margin: 0 0 10px 0;
  overflow: hidden; }
  .customize-control-switch .fs-checkbox.fs-checkbox-enabled:focus {
    box-shadow: none;
    outline: none; }
.customize-control-switch .fs-checkbox-element_wrapper {
  position: relative;
  border: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  width: 0; }
.customize-control-switch .fs-checkbox-element {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: none;
  transition: none; }
.customize-control-switch .fs-checkbox-label {
  color: #666666;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.customize-control-switch .fs-checkbox-marker {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  float: right; }
.customize-control-switch .fs-checkbox-flag {
  width: 100%;
  height: 100%;
  margin: 0; }
  .customize-control-switch .fs-checkbox-flag:before {
    width: 5px;
    height: 10px;
    border: 2px solid #999999;
    border-top: 0;
    border-left: 0;
    content: '';
    display: block;
    margin: 3px 0 0 6px;
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    -webkit-transform: rotate(45deg) scale(0);
    -ms-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0); }
.customize-control-switch .fs-checkbox-checked .fs-checkbox-flag:before {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1); }
.customize-control-switch .fs-checkbox,
.customize-control-switch .fs-checkbox:after,
.customize-control-switch .fs-checkbox:before,
.customize-control-switch .fs-checkbox *,
.customize-control-switch .fs-checkbox *:after,
.customize-control-switch .fs-checkbox *:before {
  box-sizing: border-box;
  -webkit-transition: none;
  transition: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important; }
.customize-control-switch .no-csstransforms .fs-checkbox-flag:before {
  width: 100%;
  height: 100%;
  content: "\2713";
  display: none;
  line-height: 1;
  text-align: center; }
.customize-control-switch .no-csstransforms .fs-checkbox-checked .fs-checkbox-flag:before {
  display: block; }
.customize-control-switch .fs-checkbox-radio .fs-checkbox-marker {
  border-radius: 100%; }
.customize-control-switch .fs-checkbox-radio .fs-checkbox-flag {
  background: #999999;
  border: 3px solid #ffffff;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease; }
  .customize-control-switch .fs-checkbox-radio .fs-checkbox-flag:before {
    display: none; }
.customize-control-switch .fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  .customize-control-switch .fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag:before {
    display: none; }
.customize-control-switch .no-csstransforms .fs-checkbox-radio .fs-checkbox-flag:before {
  display: none; }
.customize-control-switch .no-csstransforms .fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag:before {
  display: block; }
.customize-control-switch .fs-checkbox-focus .fs-checkbox-label {
  color: #333333; }
.customize-control-switch .fs-checkbox-focus .fs-checkbox-marker {
  border-color: #999999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
.customize-control-switch .fs-checkbox-disabled {
  cursor: default;
  opacity: 0.5; }
.customize-control-switch .fs-checkbox-disabled .fs-checkbox-label {
  color: #666666;
  cursor: default; }
.customize-control-switch .fs-checkbox-disabled .fs-checkbox-marker {
  border-color: #cccccc;
  cursor: default; }
.customize-control-switch .fs-checkbox-toggle {
  position: relative; }
  .customize-control-switch .fs-checkbox-toggle .fs-checkbox-label {
    line-height: 40px; }
  .customize-control-switch .fs-checkbox-toggle .fs-checkbox-marker {
    width: 100px;
    height: 40px;
    position: relative;
    border-radius: 3px; }
  .customize-control-switch .fs-checkbox-toggle .fs-checkbox-marker:after {
    clear: both;
    content: '';
    display: table; }
  .customize-control-switch .fs-checkbox-toggle .fs-checkbox-flag {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #999999;
    border: 2px solid #ffffff;
    border-radius: 3px;
    display: block;
    margin: 0;
    -webkit-transition: left 0.15s ease;
    transition: left 0.15s ease; }
    .customize-control-switch .fs-checkbox-toggle .fs-checkbox-flag:before {
      display: none; }
    .customize-control-switch .fs-checkbox-toggle .fs-checkbox-flag:after {
      width: 2px;
      height: 10px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #ffffff;
      box-shadow: 3px 0 0 #ffffff, -3px 0 0 #ffffff;
      content: '';
      margin: auto;
      opacity: 0.75; }
  .customize-control-switch .fs-checkbox-toggle.fs-checkbox-checked .fs-checkbox-flag {
    left: 50%; }
    .customize-control-switch .fs-checkbox-toggle.fs-checkbox-checked .fs-checkbox-flag:before {
      display: none; }
    .customize-control-switch .fs-checkbox-toggle.fs-checkbox-checked .fs-checkbox-flag:after {
      display: none; }
  .customize-control-switch .fs-checkbox-toggle .fs-checkbox-state {
    width: 50%;
    color: #666666;
    display: block;
    font-size: 12px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  .customize-control-switch .fs-checkbox-toggle .fs-checkbox-state_on {
    float: left; }
  .customize-control-switch .fs-checkbox-toggle .fs-checkbox-state_off {
    float: right; }
.customize-control-switch .no-touch .fs-checkbox-toggle:hover .fs-checkbox-flag:after {
  opacity: 1; }
