<div class="footer">
	<div class="row">
		<p>Kirki is licenced under the <a href="https://github.com/aristath/kirki/blob/master/LICENSE">MIT licence</a> and is completely open-source.</p>
	</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.js"></script>
<script>$(document).foundation();</script>

{% if page.sections %}
	<script>
		var $toc = $('[data-docs-toc]');
		var $toc_magellan = new Foundation.Magellan($toc, {
			'data-animation-duration': 250,
			'data-active-class': 'active',

		});
	</script>
{% endif %}

<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"63d1425d3d1b729d54f02068d","lid":"3a8ae06703"}) })</script>
