<div class="footer">
	<div class="row">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="text-align: center;">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="B3JPWWJBUSWDU">
			<input type="submit" class="secondary hollow button" name="submit" alt="PayPal - The safer, easier way to pay online!" value="DONATE">
		</form>
	</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.js"></script>
<script>$(document).foundation();</script>

{% if page.sections %}
	<script>
		var $toc = $('[data-docs-toc]');
		new Foundation.Magellan($toc, {
			'data-animation-duration': 250,
			'data-active-class': 'active',

		});
	</script>
{% endif %}
