<div class="top-bar navigation">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="logo"><a href="https://aristath.github.io/kirki/" alt="Home"><img src="https://aristath.github.io/kirki/images/logo.png"></a></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu vertical medium-horizontal">
			<li><a href="https://aristath.github.io/kirki/">Home</a></li>
			<li><a href="https://wordpress.org/plugins/kirki">Download Stable</a></li>
			<li><a href="https://github.com/aristath/kirki">Download Development</a></li>
			<li><a href="http://aristath.github.io/donate">Donate</a></li>
		</ul>
	</div>
</div>
<div class="important-news">Are you a theme author? Checkout new <a href="https://github.com/aristath/kirki-helpers" target="_blank">Kirki Helpers</a> for your themes, or start something new using our <a href="https://github.com/aristath/_s" target="_blank">_s fork</a> as a starting point!</div>
