<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="logo"><a href="/" alt="Home"><img src="/images/logo.png"></a></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><a href="/">About</a></li>
			<li><a href="https://wordpress.org/plugins/kirki">Download</a></li>
			<li><a href="https://github.com/aristath/kirki">Fork on Github</a></li>
			<li><a href="/docs">Documentation</a></li>
			<li><a href="/contribute">Contribute</a></li>
		</ul>
	</div>
</div>
