<div class="top-bar navigation">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="logo"><a href="/" alt="Home"><img src="/images/logo.png"></a></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu vertical medium-horizontal">
			<li><a href="/">Home</a></li>
			<li><a href="https://wordpress.org/plugins/kirki">Download Stable</a></li>
			<li><a href="https://github.com/aristath/kirki">Download Development</a></li>
			<li>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="B3JPWWJBUSWDU">
					<input type="submit" class="hollow button small alert" name="submit" alt="PayPal - The safer, easier way to pay online!" value="DONATE (PAYPAL)">
				</form>
			</li>
			<li><a class="hollow button small alert" href="https://www.coinbase.com/aristath">DONATE (BITCOIN)</a></li>
		</ul>
	</div>
</div>
<div class="important-news">Are you a theme author? Checkout new <a href="https://github.com/aristath/kirki-helpers" target="_blank">Kirki Helpers</a> for your themes, or start something new using our <a href="https://github.com/aristath/_s" target="_blank">_s fork</a> as a starting point!</div>
