// Number Controls
.customize-control-number {
    .stepper {
        border-radius: 0px;
        margin: 0 0 10px 0;
        overflow: hidden;
        position: relative;
        width: 50%;
        .stepper-input {
            background: #F9F9F9;
            border: 1px solid #ccc;
            border-radius: 0px;
            color: #333;
            font-size: 13px;
            line-height: 1.2;
            margin: 0;
            overflow: hidden;
            padding: 9px 10px 10px;
            width: 100%;
            z-index: 49;
            -moz-appearance: textfield;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none; margin: 0;
            }
            &:focus {
                background-color: #fff;
            }
        }
        .stepper-arrow {
            background: #eee url("../images/jquery.fs.stepper-arrows.png") no-repeat;
            border: 1px solid #ccc;
            cursor: pointer;
            display: block;
            height: 50%;
            position: absolute;
            right: 0;
            text-indent: -99999px;
            width: 20px;
            z-index: 50;
            &.up {
                background-position: center top;
                border-bottom: none;
                top: 0;
            }
            &.down {
                background-position: center bottom;
                bottom: 0;
            }
        }
    }
}
