// Radio-Image Controls
.customize-control-radio-image {
    .image.ui-buttonset {
        input[type=radio] {
            height: auto;
        }
        label {
            border: 1px solid transparent;
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 5px;
            &.ui-state-active {
                background: none;
                border-color: #333;
            }
        }
    }
}
