.kirki-collapsible {
  &.kirki-collapsed-control {
    display: none !important;
  }

  &.kirki-expanded-control {
    .customize-control-title {
      cursor: pointer;

      &:hover {
        color: #000;
      }
    }
  }
}

.kirki-collapsed-control-header {
  cursor: pointer;

  &:hover {
    color: #000;
  }
}
