@import "select2";

.select2 {
  &-drop-active {
    z-index: 999999;
  }

  &-container {
    .select2-choice {
      font-size: 14px;
      padding: .3em 1em;
      abbr {
        background: url('select2.png') right top no-repeat;
      }
    }
  }

  &-search {
    input {
      background: #fff url('select2.png') no-repeat 100% -22px;

      &.select2-active {
        background: #fff url('select2-spinner.gif') no-repeat 100%;
      }
    }

    &-choice-close {
      background: url('select2.png') right top no-repeat;
    }
  }

  &-more-results {
    &.select2-active {
      background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
    }
  }

  &-container-multi {
    .select2-choices {
      .select2-search-field {
        input {
          &.select2-active {
            background: #fff url('select2-spinner.gif') no-repeat 100% !important;
          }
        }
      }
    }
  }
}

html[dir="rtl"] .select2-search input {
  background: #fff url('select2.png') no-repeat -37px -22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .select2-search input {
    background-image: url('select2x2.png') !important;
  }
}
