/////////////////////
// color & color-alpha controls
/////////////////////
.customize-control-color,
.customize-control-color-alpha {
    .kirki-alpha-container {
        box-sizing: padding-box;
        display: none;
        border: 1px solid #dfdfdf;
        border-top: none;
        background: #fff;
        padding: 0 11px 6px;
        .transparency {
            height: 24px;
            width: 100%;
            background-color: #fff;
            background-image: url("transparency-grid.png");
            background-size: cover;
            box-shadow: 0 0 5px rgba(0,0,0,0.4) inset;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 0;
        }
        .ui-slider-handle {
            color: #777;
            background-color: #fff;
            text-shadow: 0 1px 0 #fff;
            text-decoration: none;
            position: absolute;
            z-index: 2;
            box-shadow: 0 1px 2px rgba(0,0,0,0.2);
            border: 1px solid #aaa;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            opacity: 0.9;
            margin-top: -2px;
            height: 20px;
            cursor: ew-resize;
            font-size: 12px;
            padding: 3px;
        }
        .ui-slider {
            position: relative;
            text-align: center;
            width: 88%;
        }
    }
    .wp-picker-container a.wp-picker-open ~ div.kirki-alpha-container {
        display: block;
    }
    .customize-control-alphacolor .wp-picker-container .iris-picker {
        border-bottom: none;
    }
    // Make the control 100% wide
    .wp-picker-container {
    	width: 100%;
    	.wp-picker-holder {
    		width: calc(100% - 2px);
    	}
    	.iris-picker {
    		width: 100% !important;
    		height: 195px !important;
    		padding-bottom: 10px !important;
    		.iris-picker-inner {
    			left: 35px;
    			height: 190px;
    			.iris-square {
    				width: calc(100% - 35px) !important;
    				margin-right: 2%;
    			}
    			.iris-slider.iris-strip {
    				height: 185px !important;
    				width: 28px !important;
    			}
    		}
    	}
    }
    .iris-palette-container {
    	width: 20px;
    	left: 8px;
    	top: 10px;
    	text-align: center;
    	a {
    		display: inline-block;
    		margin-left: 0 !important;
    		margin-bottom: 3px;
    		border: 1px solid rgba(0,0,0,.06);
    		border-radius: 0;
    		box-shadow: none;
    		width: 18px !important;
    		height: 18px !important;
    	}
    }
}
