/////////////////////
// dimension controls
/////////////////////
.customize-control-dimension {
	.input-wrapper {
		.invalid-value {
			display: none;
			background: #D32F2F;
			font-size: .85em;
			color: #fff;
			float: left;
			padding: 2px 10px;
			border-radius: 3px;
		}
		&.invalid {
			.invalid-value {
				display: block;
			}
		}
	}
}
