/////////////////////
// number controls
/////////////////////
.customize-control-number {
	.ui-spinner.ui-widget-content {
		position: relative;
		.ui-spinner-button {
			position: absolute;
			right: 0;
			color: rgba(0,0,0,.3);
			border: none;
			padding: 0 5px;
			width: 20px;
			height: calc(50% + 0.5em);
			// font-size: 19px;
			border-radius: 0;
			-webkit-border-radius: 0;
			box-shadow: none;
			-webkit-box-shadow: none;
			background: transparent;
			background: none;
			margin: 0;
			.ui-button-text {
				display: none;
			}
			&.ui-spinner-up,
			&.ui-spinner-down {
				&:before {
					font-family: dashicons;
					position: absolute;
					left: 0;
				}
			}
			&.ui-spinner-up {
				top: -50%;
				&:before {
					content: "\f343";
				}
			}
			&.ui-spinner-down {
				top: 50%;
				&:before {
					content: "\f347";
				}
			}
			&:hover {
				color: rgba(0,0,0,.7);
			}
		}
	}
}
