/////////////////////
// typography controls
/////////////////////
.customize-control-typography {
	.wrapper {
		border: 1px solid #ddd;
		padding: 10px;
		border-radius: 3px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.font-family,
		.variant,
		.subset,
		.font-size,
		.line-height,
		.letter-spacing,
		.color {
			width: 100%;
			float: none;
			clear: both;
			h5 {
				margin: .67em 0 0;
			}
		}
		.font-size,
		.line-height,
		.letter-spacing {
			width: 50%;
		}
		.color {
			width: auto;
		}
	}
}
