#customize-controls #customize-info .accordion-section-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
#customize-controls #customize-theme-controls .accordion-section > .accordion-section-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #customize-controls #customize-theme-controls .accordion-section > .accordion-section-title:after {
    border-color: transparent !important;
    border-color: transparent !important; }

#customize-preview.is-kirki-editor-open {
  height: calc(100% - 301px); }

.customize-control-kirki .description {
  font-style: normal;
  font-weight: 300;
  font-size: .9em; }
.customize-control-kirki input {
  font-size: 16px; }
.customize-control-kirki input[type="text"],
.customize-control-kirki input[type="date"],
.customize-control-kirki input[type="email"],
.customize-control-kirki input[type="url"],
.customize-control-kirki input[type="tel"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  border-radius: 3px;
  padding: .5em; }

.wp-full-overlay.expanded #customize-footer-actions .kirki-footer-thanks {
  position: fixed;
  bottom: 8px;
  left: 150px;
  padding: 0;
  width: 90px;
  height: 25px;
  background-image: url("../images/kirki-bottom.png");
  background-repeat: no-repeat;
  background-position: center center; }

#customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content {
  position: relative;
  left: 0;
  display: block !important;
  margin-top: 0 !important; }
  #customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content .accordion-section-title {
    margin-left: 0; }
  #customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content > li.customize-info {
    margin-bottom: 0;
    border-top: none; }
    #customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content > li.customize-info .accordion-section-title {
      border-bottom: none !important; }

#customize-theme-controls .control-section.control-section-kirki-expanded > ul.accordion-section-content {
  position: relative;
  left: 0;
  display: block;
  margin-top: 0 !important; }

#customize-theme-controls .control-section.control-section-kirki-hover:hover:not(.open) > ul.accordion-section-content, #customize-theme-controls .control-section.control-section-kirki-hover:focus:not(.open) > ul.accordion-section-content, #customize-theme-controls .control-section.control-section-kirki-hover:active:not(.open) > ul.accordion-section-content {
  position: fixed;
  left: 300px;
  width: 300px;
  background: #eee;
  display: block;
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll; }
#customize-theme-controls .control-section.control-section-kirki-hover:hover:not(.open) .customize-section-title, #customize-theme-controls .control-section.control-section-kirki-hover:focus:not(.open) .customize-section-title, #customize-theme-controls .control-section.control-section-kirki-hover:active:not(.open) .customize-section-title {
  display: none; }

/*# sourceMappingURL=customizer.css.map */
