// Range slider control.
.customize-control-kirki-range-slider {
  .kirki-control-label {
    position: relative;
    display: block;
  }

  .kirki-control-form {
    margin-bottom: 12px;

    &:hover {
      .kirki-control-reset {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .kirki-control-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: -5px;
    position: absolute;
    padding: 0;
    width: 20px;
    height: 20px;
    color: #50575e;
    background-color: transparent;
    border-radius: 50%;
    border-width: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 3;
  }

  .kirki-control-reset:hover i {
    color: #f00;
    transform: rotate(45deg);
  }

  .kirki-control-reset i {
    font-size: 12px;
    width: auto;
    height: auto;
    transform: rotate(-45deg);
    transition: transform 0.2s;
  }

  .kirki-control-cols {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .kirki-control-left-col {
    width: 75%;
    padding-right: 13px;
  }

  .kirki-control-right-col {
    width: 25%;
  }

  .kirki-control-input:focus {
    background-color: #fff;
  }

  .kirki-control-input {
    font-size: 12px;
    text-align: center;
    background-color: #f7f7f7;
    border-color: #bbb;
    border-radius: 4px;
    z-index: 2;
    transition: box-shadow 0.15s;
  }

  .kirki-control-input::-webkit-inner-spin-button,
  .kirki-control-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .kirki-control-range {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #bdc3c7;
    outline: none;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .kirki-control-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #999;
    transform: scale(1);
    -webkit-transition: background-color, transform 0.15s ease-in-out;
    transition: background-color, transform 0.15s ease-in-out;
  }

  .kirki-control-range::-webkit-slider-thumb:hover {
    background-color: #e7e7e7;
  }

  .kirki-control-range:active::-webkit-slider-thumb,
  .kirki-control-range:focus::-webkit-slider-thumb {
    background-color: #e7e7e7;
    transform: scale(1.3);
  }

  .kirki-control-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%;
    background-color: #f0f0f0;
    cursor: pointer;
    border: 1px solid #999;
    transform: scale(1);
    -moz-transition: background-color, transform 0.15s ease-in-out;
    transition: background-color, transform 0.15s ease-in-out;
  }

  .kirki-control-range::-moz-range-thumb:hover {
    background-color: #e7e7e7;
  }

  .kirki-control-range:active::-moz-range-thumb,
  .kirki-control-range:focus::-moz-range-thumb {
    background-color: #e7e7e7;
    transform: scale(1.3);
  }

  .kirki-control-range:focus::-webkit-slider-thumb {
    /* in case we need this in the future */
  }

  ::-moz-range-track {
    background-color: #bdc3c7;
    border: 0;
  }

  input::-moz-focus-inner,
  input::-moz-focus-outer {
    border: 0;
  }
}
