@font-face {
  font-family: Antonio;
  src: local("Antonio Light"),local("Antonio-Light"),url(../assets/fonts/antonio/antonio-light.4b30712e.woff2) format("woff2"),url(../assets/fonts/antonio/antonio-light.6dea71fb.woff) format("woff"),url(../assets/fonts/antonio/antonio-light.ce004658.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Antonio;
  src: local("Antonio Bold"),local("Antonio-Bold"),url(../assets/fonts/antonio/antonio-bold.cee7b01b.woff2) format("woff2"),url(../assets/fonts/antonio/antonio-bold.eb8e8cd4.woff) format("woff"),url(../assets/fonts/antonio/antonio-bold.07cba0f6.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@import "../assets/fonts/ibm-type/scss/ibm-type";

body {
  font-family: 'ibm-plex-sans', 'Helvetica Neue', Arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;

  &.home {
    .features {
      .feature {
        padding-bottom: 2rem;
      }

      h3 {
        font-size: 1.2rem;
      }

      p {}
    }

    #featured-themes {
      padding: 3em;
      margin: 0;
      color: #fff;
      text-align: center;
      background-color: #2d68ee;
      background-image: linear-gradient(60deg,#1259fe,#003098);

      a {
        color: #fff;
      }
    }
  }
}

.hero {
  padding: 7rem 2rem 10rem;
  background-color: #306ffd;
  background-image: linear-gradient(60deg,#306efe,#003ab7);
  color: #fff;
  position: relative;
  text-align: center;
  font-size: 1.3em;

  h1 {
    text-transform: uppercase;
    font-family: Antonio,Helvetica Neue,Helvetica,Arial,"sans-serif";
    font-size: 1.8rem;
    font-weight: 300;
  }

  p {
    font-size: 1rem;
  }

  .hero__div {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    margin-bottom: -1px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ibm-plex-serif', 'Georgia', Times, serif;
  font-weight: bold;

  .anchor-injected {
    opacity: 0;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out;
    color: #82878C;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  &:hover {
    .anchor-injected {
      opacity: 1;
      text-decoration: none;
      color: #82878C;
      padding: 0 0.5em;
    }
  }
}

#main {
  padding-top: 1rem;
  margin: auto;
  padding-bottom: 5rem;
}

#field-description,
#field-examples,
#field-usage {
  position: relative;
  min-height: 25vh;

  .button.improve-section {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.footer {
  padding: 2rem 0;
  background: #000;
  color: #fff;

  label {
    color: #fff;
  }

  p {
    font-size: 0.875rem;
  }
}

.top-bar {
  background-color: #2d68ee;
  background-image: linear-gradient(60deg,#1259fe,#003098);

  ul {
    background-color: transparent;
    background-color: rgba(0,0,0,0);
  }

  .top-bar-left,
  .top-bar-right {
    .menu {
      a {
        color: #fff;

        .menu-label {
          width: 0;
          overflow-x: hidden;
        }

        &:hover {
          .menu-label {
            width: auto;
          }
        }
      }

      &.dropdown {
        > li {
          &.opens-right {
            > .is-dropdown-submenu {
              border: none;
              background-color: mix(#1259fe,#003098);
            }
          }
        }
      }
    }
  }

  ul.menu {
    li.logo {
      a {
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        .logo-name {
          padding-left: 10px;
        }
      }
    }
  }
}

.row {
  max-width: 90rem;
}

.row.expanded .row {
  margin-left: 0;
}

.menu.docs-nav {
  background: #fafafa;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .docs-nav-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #999;
    font-weight: bold;
    line-height: 1;
    padding-left: 0.9rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #e9e9e9;
    margin-top: 1rem;
    padding-top: 1.5rem;
  }

  > li {
    font-size: 0.9em;

    > a {
      padding: 0.5rem 1rem;
    }
  }
}

.docs-side-nav {
  li.side-nav-header {
    text-transform: uppercase;
    // font-size: 0.75rem;
    color: #999;
    font-weight: bold;
    line-height: 1;
    padding-left: 0.9rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-top: 1.5rem;
  }

  .active {
    background: #2199e8;
    color: #fff;
  }
}

.awesome-themes {
  text-align: center;

  .cell {
    &.item {
      width: calc(100% / 3);
      min-width: 300px;
    }
  }

  h3 {
    margin: 3rem 0;
  }

  .item {
    padding-bottom: 2rem;

    .inner {
      // -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
      // box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
      // padding: .25rem;
      a {
        color: #000;

        h4 {
          font-size: 1.1rem;
        }

        hr {
          margin: 0.5rem auto;
        }
      }
    }
  }
}

.important-news {
  padding: 1rem;
  text-align: center;
  background-color: #ec5840;
  color: #fff;

  a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
  }
}

#integration-methods.tabs {
  border: none;
  border-bottom: 1px solid #e6e6e6;

  .tabs-title > a {
    font-size: 1rem;

    &:focus,
    &[aria-selected=true] {
      background: none;
      border: 1px solid #e6e6e6;
      border-bottom: none;
    }
  }
}

.controls-grid {
  .grid-item {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #fff;
    background: #2199E6;
  }
}

.button,
input {
  &.white {
    color: #333 !important;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    transition: box-shadow 0.2s ease,-webkit-box-shadow 0.2s ease;
    border: 2px solid #fff;

    &:hover {
      box-shadow: 0 0 20px rgba(0,0,0,.7);
    }
  }

  &.round {
    border-radius: 50px;
  }

  &.force-dark-text {
    color: #333 !important;
  }

  &.border-only {
    background-color: transparent;
    color: #fff !important;
  }
}

.page {
  h3 {
    margin-top: 1.5rem;
  }
}

.ribbon-full {
  // margin-left: -100vw;
  // padding-left: 100vw;
  // margin-right: -100vw;
  // padding-right: 100vw;
}

code {
  background-color: darken(#fff, 3%);
  color: darken(#fff, 60%);
  border: none;
}

pre {
  background-color: rgb(40, 44, 52);
  width: 100%;
  padding: 1rem;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;

  code {
    width: 100%;
    color: rgb(171, 178, 191);
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
    background-color: transparent;
  }
}

.rewrite-banner {
  background: #DC3232;
  color: #fff;
  padding: 1rem;
}

.contribute {
  &.edit-link {
    display: block;
    padding: 2rem 0;
    color: #82878C;
    text-decoration: none;
    font-size: 0.8rem;

    &:hover {
      color: #191E23;
      text-decoration: none;
    }
  }
}

.menu {
  &.docs-nav-secondary {
    justify-content: center;
    background: none;
  }
}

.highlight {
  margin: 1rem 0 2rem;
}

#testimonials {
  background: darken(#fff, 4%);
  padding: 3rem 1rem 5rem;
  border-top: 1px solid darken(#fff, 7%);
  margin-top: 3rem;

  .section-title {
    text-align: center;
    margin-bottom: 3rem;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    padding-bottom: 3rem;
  }

  .single-testimonial {
    .person {
      width: 110px;
      min-width: 110px;
      max-width: 110px;

      .missing-person-wrapper,
      a {
        width: 100%;
        display: block;
        text-align: center;
      }

      img {
        width: 80px;
        border-radius: 50%;
      }

      .missing-avatar {
        font-size: 80px;
        color: darken(#fff, 11%);
      }
    }

    h4 {
      font-size: 1.3rem;

      a {
        color: #333;
      }
    }
  }

  .testimonial-author {
    color: darken(#fff, 15%);
    font-style: italic;

    .author-name {
      font-size: 1.2em;
      color: darken(#fff, 65%);
    }

    .author-wpusername {
      color: darken(#fff, 15%);
    }
  }
}

#footer {
  padding: 5rem 3rem;
  margin: 0;
  color: #fff;
  text-align: center;
  background-color: #2d68ee;
  background-image: linear-gradient(60deg,#1259fe,#003098);

  a {
    color: #fff;
  }

  .contribute,
  .legal {
    text-align: left;
  }
}

#main-warning {
  margin: auto;
}
