.customize-control-kirki-slider .wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0 7px;
  position: relative;
}

.customize-control-kirki-slider .wrapper .slider-reset {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  transition: 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.3);
}

.customize-control-kirki-slider .wrapper .slider-reset:hover {
  transform: scale(1.3);
  color: #DC3232;
}

.customize-control-kirki-slider .wrapper input[type="range"] {
  display: block;
  width: 100%;
}

.customize-control-kirki-slider .wrapper input[type="text"] {
  font-size: 13px;
  background: transparent;
  border: none;
  box-shadow: none;
  text-align: right;
  padding: 0;
  width: 40px;
}

.customize-control-kirki-slider .wrapper .value {
  display: flex;
  align-items: baseline;
}
