.customize-control-kirki-color {
  .kirki-color-input-wrapper {
    display: grid;
    grid-template-columns: 45px 1fr auto;
  }

  .kirki-colorpicker-wrapper-palette {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-left: -7px;
    margin-right: -7px;
  }

  button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 2px;
    box-sizing: content-box;
    background: transparent;

    &.placeholder {
      margin-left: -7px;
      margin-right: -7px;
    }

    &:hover,
    &:focus {
      border-color: #777;
    }

    .button-inner {
      width: 28px;
      height: 28px;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: 50%;
      position: relative;
      display: inline-block;
      vertical-align: top;
      background: transparent;
      box-shadow: inset 0 0 0 14px;
      transition: all .1s ease;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
      }
    }

    svg {
      position: absolute;
      top: 6px;
      left: 6px;
      opacity: 0;
    }

    &:hover,
    &:active,
    &:focus {
      .button-inner {
        width: 32px;
        height: 32px;
        box-shadow: inset 0 0 0 16px;
      }
    }

    &[aria-pressed=true] {
      .button-inner {
        box-shadow: inset 0 0 0 5px;
        width: 32px;
        height: 32px;
      }

      svg {
        opacity: 1;
      }
    }
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    list-style-image: none;
    list-style-type: none;

    &::-webkit-details-marker {
      list-style-image: none;
      color: transparent;
    }

    .summary-description {
      color: #0073aa;
      width: 100%;
      text-align: left;
      padding: 10px;
      cursor: pointer;
      text-decoration: underline;
    }

    input.kirki-color-control {
      width: 100px;
      font-family: monospace;
      font-size: 12px;
      background: none;
      box-shadow: none;
      opacity: .5;
      text-align: right;
      transition: all .1s ease;
      border: 1px solid transparent;

      &:focus {
        background: #fff;
        border-color: #dedede;
        opacity: 1;
      }
    }
  }

  details {
    &[open] {
      summary {
        input.kirki-color-control {
          background: #fff;
          border-color: #dedede;
          opacity: 1;
        }
      }
    }

    &.mode-hue {
      summary {
        display: none;
      }
    }
  }
}
