.input-range__slider {
  appearance: none;
  background: #00a0d2;
  border: 1px solid #00a0d2;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 14px;
  margin-left: -7px;
  margin-top: -10.5px;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
  width: 14px;
}

.input-range__slider:active {
  transform: scale(1.3);
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.1s ease-out;
}

.input-range__label-container {
  display: none;
}

.input-range__track {
  background: #b4b9be;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  height: 5px;
  position: relative;
  transition: left 0.1s ease-out, width 0.1s ease-out;
}

.input-range--disabled .input-range__track {
  background: #b4b9be;
}

.input-range__track--background {
  left: 0;
  margin-top: -3px;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #00a0d2;
}

.input-range {
  height: 16px;
  position: relative;
  width: 100%;
}

.range-input-wrapper input[type="text"] {
  background: transparent;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 13px;
}

.range-input-wrapper input[type="text"]:hover,
.range-input-wrapper input[type="text"]:focus,
.range-input-wrapper input[type="text"]:active {
  box-shadow: none;
  border: none;
  outline: none;
}
