.customize-control-kirki-dashicons {
  position: relative;

  label {
    position: relative;
    display: inline-block;
  }

  .icons-wrapper {
    max-height: 300px;
    overflow-y: scroll;

    h4 {
      font-weight: 300;
      margin: 0.7em 0;
    }

    .dashicons {
      padding: 3px;
      font-size: 25px;
      width: 25px;
      height: 25px;
      border: 1px solid transparent;
    }

    input {
      display: none;

      &:checked {
        + label {
          .dashicons {
            border: 1px solid #3498DB;
            color: #000;
          }
        }
      }
    }
  }
}
