.wp-customizer div.ui-datepicker {
  z-index: 500001 !important;
  width: 255px;
  background: #fff;
  border: 1px solid #dedede;
  padding: 4px;

  .ui-datepicker-header {
    padding: 10px;
    font-weight: 700;

    .ui-datepicker-next,
    .ui-datepicker-prev {
      padding: 10px;
      display: block;
      position: absolute;
      width: 1em;
      overflow: hidden;
      cursor: pointer;

      &:after,
      &:before {
        font-family: dashicons;

      }

      .ui-icon {
        display: none;
      }
    }

    .ui-datepicker-prev {
      left: 0;

      &:before {
        content: "\f341";
      }
    }

    .ui-datepicker-next {
      right: 0;

      &:after {
        content: "\f345";
      }
    }

    .ui-datepicker-title {
      text-align: center;
    }
  }

  .ui-datepicker-calendar {
    border-collapse: collapse;
    width: 100%;

    thead {
      background: #f3f5f7;
      padding: 5px;
    }

    tr {
      td {
        a {
          display: block;
          padding: 5px;
          color: #333;
          text-decoration: none;
          text-align: center;

          &.ui-state-active,
          &:hover {
            color: #fff;
            background-color: #3498DB;
          }
        }

        &.ui-state-disabled,
        &.ui-state-disabled .ui-state-default {
          a {
            color: #999;
          }
        }
      }
    }
  }
}
