.customize-control-kirki-multicolor {
  position: relative;

  .multicolor-group-wrapper {
    display: flex;

    .multicolor-single-color-wrapper {
      width: 100%;

      label {
        display: block;
        text-align: center;
        padding: 3px;
      }
    }

    .wp-picker-container {
      width: 100%;

      .wp-color-result {
        width: 100%;
        height: 30px;
        padding-left: 0;
        border-radius: 0;
        border: none;
        margin-right: 0;

        > span {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        .wp-color-result-text {
          display: none !important;
        }
      }
    }
  }
}
