.customize-control-kirki-multicolor {
  .multicolor-single-color-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .multicolor-single-label {
    order: 2;
  }

  .wp-picker-container {
    width: 100%;

    > .wp-color-result {
      width: 100%;
    }

    &.wp-picker-active {
      + .multicolor-single-label {
        display: none;
      }
    }
  }
}
