.customize-control-kirki-multicolor {
  .multicolor-single-color-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .multicolor-single-label {
    order: 2;
  }

  .wp-picker-container {
    &.wp-picker-active {
      + .multicolor-single-label {
        display: none;
      }
    }
  }
}
