.customize-control-kirki-radio-buttonset {
  .buttonset {
    display: flex;
    flex-wrap: wrap;

    .switch-label {
      background: rgba(0,0,0,.1);
      border: 1px rgba(0,0,0,.1);
      color: $color-dark-medium-gray;
      margin: 0;
      text-align: center;
      padding: 0.5em 1em;
      flex-grow: 1;

      &:last-child {}
    }

    .switch-input {
      &:checked {
        + .switch-label {
          background-color: $color-medium-blue;
          color: $textcolor-light;
        }
      }
    }
  }
}
