.customize-control-kirki-radio-image {
  > .image {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    position: relative;
    display: inline-block;

    .image-label {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.7);
      font-weight: bold;

      .inner {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0.5em;
        vertical-align: middle;
      }
    }

    &:hover {
      .image-label {
        display: block;
      }
    }
  }

  input {
    img {
      border: 1px solid transparent;
    }
    display: none;

    &:checked {
      + label {
        img {
          -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.25);
          box-shadow: 0 0 5px 2px rgba(0,0,0,.25);
          border: 1px solid #3498DB;
        }
      }
    }

    + label .image-clickable {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
