.customize-control-kirki-radio-buttonset {
  .buttonset {
    display: flex;
    flex-wrap: wrap;

    .switch-label {
      background: $color--gray-light-100;
      border: 1px solid $color--gray-light-200;
      color: $textcolor-dark-mid;
      margin: 0;
      text-align: center;
      padding: 0.5em 1em;
      flex-grow: 1;

      &:last-child {}
    }

    .switch-input {
      &:checked {
        + .switch-label {
          background-color: $color-medium-blue;
          color: $textcolor-light;
        }
      }
    }
  }
}
