.customize-control-kirki-slider {
  .wrapper {
    display: flex;
    align-items: center;
    padding: 15px 0 7px;
    position: relative;

    .slider-reset {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      transition: 0.3s ease-in-out;
      color: rgba(0,0,0,.3);

      &:hover {
        transform: scale(1.3);
        color: #DC3232;
      }
    }

    input {
      &[type="range"] {
        display: block;
        -webkit-appearance: none;
        background-color: #bdc3c7;
        width: 100%;
        height: 5px;
        border-radius: 5px;
        margin: 0 auto;
        outline: 0;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background-color: #0085ba;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          border: 1px solid #006799;
          cursor: pointer;
          transition: 0.3s ease-in-out;
        }

        ​ &::-webkit-slider-thumb:hover {
          background-color: #006799;
          border: 2px solid #0085ba;
        }

        &::-webkit-slider-thumb:active {
          transform: scale(1.2);
        }
      }

      &[type="text"] {
        font-size: 13px;
        background: transparent;
        border: none;
        box-shadow: none;
        text-align: right;
        padding: 0;
        width: 40px;
      }
    }

    .value {
      display: flex;
      align-items: baseline;
    }
  }
}
