.customize-control-kirki-switch {
  position: relative;

  .switch {
    border: none;
    margin-bottom: 1.5rem;
    outline: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    label {
      background: $color-light-silver-gray;
      color: transparent;
      cursor: pointer;
      display: block;
      margin-bottom: 1rem;
      position: relative;
      transition: left 0.15s ease-out;
      height: 2rem;
      width: 4rem;

      &:after {
        background: #FFFFFF;
        content: "";
        display: block;
        height: 1.5rem;
        left: 0.25rem;
        position: absolute;
        top: 0.25rem;
        width: 1.5rem;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
      }
    }

    input {
      + label {
        margin-left: 0;
        margin-right: 0;
      }

      &:checked {
        + label {
          background: $color-wp-blue;

          &:after {
            left: 2.25rem;
            background: #ffffff;
          }
        }
      }
    }

    &.round {
      border-radius: 1000px;

      label {
        border-radius: 2rem;

        &:after {
          border-radius: 2rem;
        }
      }
    }
  }

  .switch-off,
  .switch-on {
    line-height: 32px;
    font-weight: bold;
    padding: 0 10px;
  }

  .switch-on {
    color: #fff;
    padding-right: 5px;
  }

  .switch-off {
    color: #777;
    padding-left: 5px;
  }
}
