.customize-control-kirki-typography {
  position: relative;

  .wrapper {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.1);

    h5 {
      margin: 0.67em 0 0;
    }

    .color,
    .font-backup,
    .font-family,
    .font-size,
    .letter-spacing,
    .line-height,
    .margin-bottom,
    .margin-top,
    .subsets,
    .text-transform,
    .variant {
      width: 100%;
      float: none;
      clear: both;
    }

    .font-size,
    .letter-spacing,
    .line-height,
    .margin-bottom,
    .margin-top,
    .text-transform {
      width: 48%;
    }

    .color {
      width: auto;
    }
  }
}
