// Number Controls
.customize-control-number {
    .fs-number {
        position: relative;
        border-radius: 3px;
        margin: 0 0 10px 0;
        overflow: hidden;
    }
    .fs-number,
    .fs-number:after,
    .fs-number:before,
    .fs-number *,
    .fs-number *:after,
    .fs-number *:before {
        box-sizing: border-box;
        -webkit-transition: none;
        transition: none;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }
    .fs-number-element {
        width: 100%;
        height: 2.5em;
        background: #ffffff;
        border: 1px solid #cccccc;
        border-bottom-width: 2px;
        border-radius: 3px;
        color: #222222;
        font-size: 15px;
        line-height: 1;
        overflow: hidden;
        padding: 0 10px;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
        }
        &::-ms-clear {
            display: none;
        }
        &:focus {
            background-color: #ffffff;
        }
    }
    .fs-number-disabled .fs-number-element {
        background: #ffffff;
        border-color: #cccccc;
        color: #cccccc;
    }
    .fs-number-arrow {
        width: 25px;
        height: 50%;
        position: absolute;
        right: 0;
        z-index: 1;
        background: #ffffff;
        border: 1px solid #cccccc;
        cursor: pointer;
        display: block;
        overflow: hidden;
        text-indent: 200%;
        white-space: nowrap;
        &:focus {
            outline: none;
        }
        &:after {
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            content: '';
            display: block;
            margin: auto;
        }
        &.fs-number-up {
            top: 0;
        }
        &.fs-number-up:after {
            border-bottom: 5px solid #666666;
        }
        &.fs-number-down {
            bottom: 0;
            border-top: none;
            &:after {
                border-top: 5px solid #666666;
            }
        }
    }
    .no-opacity .fs-number-arrow {
        text-indent: -999999px;
    }
    .fs-number-disabled {
        .fs-number-arrow {
            cursor: default;
            &:after {
                border-top-color: #cccccc;
                border-bottom-color: #cccccc;
            }
        }
    }
}
