.customize-control-kirki-sortable {
  ul.ui-sortable {
    li {
      padding: 5px 10px;
      border: 1px solid #333;
      background: #fff;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      .dashicons {
        &.dashicons-menu {
          float: right;
        }

        &.visibility {
          margin-right: 10px;
          cursor: pointer;
        }
      }

      &.invisible {
        color: #aaa;
        border: 1px dashed #aaa;

        .dashicons.visibility {
          color: #aaa;
        }
      }

      &.dragging {
        opacity: 0.5;
      }

      &.drag-over {
        border-top: 2px solid #0073aa;
      }

      &.sortable-placeholder {
        padding: 0;
        margin: 0;
        border: 2px dashed #ccc;
        background: #f0f0f0;
        height: auto;
        min-height: 40px;
      }
    }
  }
}
