.customize-control-kirki-dimensions {
  position: relative;

  .wrapper {
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px;

    .control {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 48%;

        h5 {
          margin: 10px 0 7px;
        }

        .inner {
          display: flex;
        }
      }
    }
  }
}
