.customize-control-kirki-dimensions {
  .wrapper {
    box-shadow: inset 0 0 4px 1px rgba(0,0,0,.1);
    width: 96%;
    padding: 3%;

    .control {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 48%;

        h5 {
          margin: 10px 0 7px;
        }

        .inner {
          display: flex;
        }
      }
    }
  }
}
