
// React colorful control.
.customize-control-kirki-react-colorful {
  .kirki-control-form {
    position: relative;
    box-sizing: border-box;
  }

  .kirki-control-form * {
    box-sizing: border-box;
  }

  .use-hue-mode {
    .react-colorful {
      height: auto;
    }

    .react-colorful__saturation {
      display: none;
    }

    .react-colorful__last-control {
      border-radius: 4px;
    }

    input.kirki-color-input {
      padding-left: 8px;
      padding-left: 8px;
    }
  }

  .colorPickerContainer.is-open {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: all 0.2s;
    visibility: visible;
  }

  .colorPickerContainer {
    position: absolute;
    margin-top: 15px;
    width: 100%;
    padding: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.09) 0 12px 15px 0;
    z-index: 9999;

    opacity: 0;
    transform: scale3d(0, 0, 0);
    transform-origin: center top;
    transition: opacity 0.1s, visibility 0.1s, transform 0.75s;
  }

  .colorPickerContainer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 9px 10px 9px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }

  .react-colorful {
    width: 100%;
    border-radius: 4px;
  }

  .react-colorful__saturation {
    border-radius: 4px 4px 0 0;
  }

  .react-colorful__last-control {
    border-radius: 0 0 4px 4px;
  }

  .react-colorful__pointer {
    width: 18px;
    height: 18px;
  }

  .kirki-color-input-control {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  input.kirki-color-input {
    display: block;
    position: relative;
    padding-left: 27px;
    padding-right: 8px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #333;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    z-index: 1;
  }

  .kirki-color-input:focus,
  .kirki-color-input:active {
    box-shadow: 0 0 0 1px #2271b1;
    outline: none;
    border-color: #2271b1;
  }

  .kirki-color-preview-wrapper {
    position: absolute;
    left: 7px;
    width: 18px;
    height: 18px;
    background-repeat: repeat;
    background-size: 8px;
    border-radius: 50%;
    border: 1px solid #eee;
    z-index: 2;
  }

  .kirki-color-preview,
  .kirki-control-reset {
    position: absolute;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .kirki-color-preview {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 0;
  }

  .kirki-control-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 0;
    z-index: 3;
  }

  .kirki-control-reset:hover i {
    color: #f00;
    transform: rotate(-45deg);
  }

  .kirki-control-reset i {
    font-size: 12px;
    width: auto;
    height: auto;
    transform: rotate(45deg);
    transition: transform 0.2s;
  }

  .kirki-color-swatches {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .kirki-color-swatch {
    position: relative;
    display: block;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #eee;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.2s;
  }

  .kirki-color-swatch:active,
  .kirki-color-swatch:focus {
    outline: none;
  }

  .kirki-color-swatch:hover {
    transform: scale(1.1, 1.1);
  }

  .use-button-trigger {
    .kirki-color-input-wrapper {
      margin-top: 15px;
    }

    .kirki-color-input {
      border-color: #ccc;
    }
  }

  .kirki-trigger-button-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;

    .kirki-color-reset {
      right: 10px;
      background-color: transparent;
    }

    &:hover {
      .kirki-control-reset {
        display: flex;
      }
    }
  }

  .kirki-trigger-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 30px;
    color: #2271b1;
    border-radius: 4px;
    border: 1px solid #2271b1;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f1;
    }

    &:active,
    &:focus {
      border-width: 2px;
    }

    .kirki-color-preview,
    .kirki-button-text {
      position: relative;
      height: 100%;
    }

    .kirki-color-preview {
      width: 20%;
      border-radius: 0;
    }

    .kirki-button-text {
      padding-right: 30px;
      width: 80%;
      line-height: 30px;
      text-align: center;
      font-size: 12px;
      background-color: #f6f7f7;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
