.control-section-kirki-default {
  min-height: 100%;
}

.kirki-control-content {
  position: relative;
  box-sizing: border-box;
}

.kirki-control-content-hue-mode .react-colorful {
  height: auto;
}

.kirki-control-content * {
  box-sizing: border-box;
}

.customize-control-kirki-react-colorful .colorPickerContainer.is-open {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: all .2s;
  visibility: visible;
}

.customize-control-kirki-react-colorful .colorPickerContainer {
  position: absolute;
  width: 100%;
  padding: 18px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.09) 0 12px 15px 0;
  z-index: 9999;

  opacity: 0;
  transform: scale3d(0, 0, 0);
  transform-origin: center top;
  transition: opacity .1s, visibility 0.1s, transform 0.75s;
}

.customize-control-kirki-react-colorful .colorPickerContainer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 9px 10px 9px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.customize-control-kirki-react-colorful .react-colorful {
  width: 100%;
  border-radius: 4px;
}

.customize-control-kirki-react-colorful .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}

.kirki-control-content-hue-mode .react-colorful__saturation {
  display: none;
}

.customize-control-kirki-react-colorful .react-colorful__last-control {
  border-radius: 0 0 4px 4px;
}

.kirki-control-content-hue-mode .react-colorful__last-control {
  border-radius: 4px;
}

.customize-control-kirki-react-colorful .react-colorful__pointer {
  width: 18px;
  height: 18px;
}

.kirki-react-colorful-input-wrapper {
  margin-bottom: 15px;
}

.kirki-react-colorful-input-control {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

input.kirki-react-colorful-input {
  display: block;
  position: relative;
  padding-left: 27px;
  padding-right: 8px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #333;
  border: 1px solid #8c8f94;
  border-radius: 4px;
  z-index: 1;
}

.kirki-control-content-hue-mode input.kirki-react-colorful-input {
  padding-left: 8px;
  padding-left: 8px;
}

.kirki-react-colorful-input:focus,
.kirki-react-colorful-input:active {
  box-shadow: 0 0 0 1px #2271b1;
  outline: none;
  border-color: #2271b1;
}

.kirki-react-colorful-color-preview,
.kirki-react-colorful-reset-button {
  position: absolute;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.kirki-react-colorful-color-preview {
  display: block;
  left: 7px;
  width: 18px;
  height: 18px;
  border: 1px solid #eee;
  border-radius: 50%;
  z-index: 2;
}

.kirki-react-colorful-reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 0;
  z-index: 3;
}

.kirki-react-colorful-reset-button:hover i {
  color: #f00;
  transform: rotate(45deg);
}

.kirki-react-colorful-reset-button i {
  font-size: 12px;
  width: auto;
  height: auto;
  transform: rotate(-45deg);
  transition: transform .2s;
}

.kirki-react-colorful-swatches {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.kirki-react-colorful-swatch {
  position: relative;
  display: block;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform .2s;
}

.kirki-react-colorful-swatch:active,
.kirki-react-colorful-swatch:focus {
  outline: none;
}

.kirki-react-colorful-swatch:hover {
  transform: scale(1.1, 1.1);
}
