li {
  &[data-kirki-parent-control-type="kirki-dimensions"] {
    margin-bottom: 8px;

    label {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
    }

    input {
      max-width: 100px;
    }
  }
}
