<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<div id="main" class="expanded row">
			<div id="main" class="medium-9 large-10 medium-push-3 large-push-2 columns">
				<article>
					<div class="row">
						<div class="{% if page.sections %}large-9{% else %}large-12{% endif %} columns">
							<h1>{{ page.title }}</h1>
							<hr>
							<div id="field-description">
								<h2 id="description">Description</h2>
								<a class="button small hollow secondary improve-section" href="https://github.com/aristath/kirki/edit/gh-pages/_includes/field-descriptions.{{ page.title }}.html">Improve this section</a>
								{% capture field-description %}
									{% include field-descriptions/{{ page.title }}.md %}
								{% endcapture %}
								{{ field-description | markdownify }}
							</div>
							<hr>
							<div id="field-examples">
								<h2 id="description">Examples</h2>
								<a class="button small hollow secondary improve-section" href="https://github.com/aristath/kirki/edit/gh-pages/_includes/field-examples.{{ page.title }}.html">Improve this section</a>
								{% capture field-examples %}
									{% include field-examples/{{ page.title }}.md %}
								{% endcapture %}
								{{ field-examples | markdownify }}
							</div>
							<hr>
							{{ content }}
							{% include field-arguments.html %}
						</div>
						{% include fields-sections-sidebar.html %}
					</div>
				</article>
			</div>
			<div class="medium-3 large-2 medium-pull-9 large-pull-10 columns">
				{% include docs-sidebar.html %}
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
