.customize-control-kirki-gradient {
  .gradient-preview {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 1em;
  }

  h4 {
    margin: 0.5em 0;
    font-weight: 400;
  }

  .colors {
    .color-end,
    .color-start {
      box-shadow: inset 0 0 4px 1px rgba(0,0,0,.1);
      padding: 10px;
      border-radius: 3px;
      margin: 0.5em 0;
    }

    .color-start {}
  }

  input[type=range] {
    -webkit-appearance: none;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    background-color: rgba(0,0,0,.1);
    height: 5px;
    width: 100%;
    padding: 0;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &:hover {
      background-color: rgba(0,0,0,.25);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color: #3498D9;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 50%;
      background-color: #3498D9;
    }

    &::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 50%;
      background-color: #3498D9;
    }

    &::-ms-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 0;
      background-color: #3498D9;
    }

    &::-moz-range-track {
      border: inherit;
      background: transparent;
    }

    &::-ms-track {
      border: inherit;
      color: transparent;
      background: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: transparent;
    }

    &::-ms-tooltip {
      display: none;
    }
  }
}
