.customize-control-kirki-gradient {
  position: relative;

  .gradient-preview {
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 1em;
    border-radius: 3px;
  }

  h4 {
    margin: 0.5em 0;
    font-weight: 400;
  }

  .global {
    display: flex;
    flex-wrap: wrap;

    .mode {
      display: flex;
      flex-wrap: wrap;

      h4 {
        width: 100%;
      }

      .switch-label {
        color: #555;
        margin: 0;
        text-align: center;
        flex-grow: 1;

        &:last-child {}
      }

      .switch-input {
        &:checked {
          + .switch-label {
            color: #3498DB;
          }
        }
      }
    }
  }

  .colors {
    .color-end,
    .color-start {
      display: flex;
      flex-wrap: wrap;
      box-shadow: inset 0 0 4px 1px rgba(0,0,0,.1);
      padding: 10px;
      border-radius: 3px;
      margin: 0.5em 0;
    }

    .color-start {}
  }

  input[type=range] {
    -webkit-appearance: none;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    background-color: rgba(0,0,0,.1);
    height: 5px;
    width: 100%;
    padding: 0;

    &:focus {
      box-shadow: none;
      outline: none;
    }

    &:hover {
      background-color: rgba(0,0,0,.25);
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color: #3498D9;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 50%;
      background-color: #3498D9;
    }

    &::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border: none;
      border-radius: 50%;
      background-color: #3498D9;
    }

    &::-ms-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 0;
      background-color: #3498D9;
    }

    &::-moz-range-track {
      border: inherit;
      background: transparent;
    }

    &::-ms-track {
      border: inherit;
      color: transparent;
      background: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: transparent;
    }

    &::-ms-tooltip {
      display: none;
    }
  }

  .kirki-controls-loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    background-color: #eee;

    > div {
      margin-top: 20px;
      width: 18px;
      height: 18px;
      background-color: #333;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: kirkibouncedelay 1.4s infinite ease-in-out both;
      animation: kirkibouncedelay 1.4s infinite ease-in-out both;
    }

    .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
}
@-webkit-keyframes kirkibouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes kirkibouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
