.tooltip-wrapper {
  float: right;
  position: relative;

  .tooltip-trigger {
    text-decoration: none;
    cursor: pointer;
  }

  .tooltip-content {
    position: absolute;
    width: 200px;
    height: auto;
    top: -10px;
    left: -225px;
    background: rgba(#000,.8);
    color: #fff;
    padding: 10px;
    z-index: 99999;
    border-radius: 3px;
    line-height: 1.4em;

    a {
      color: #fff;
    }

    &:after {
      content: "\f139";
      font-family: dashicons;
      position: absolute;
      right: -11px;
      top: 11px;
      color: rgba(#000,.8);
      font-size: 20px;
    }
  }
}
