// Radio-Buttonset Controls
.customize-control-radio-buttonset {
    input[type=radio] {

    }
    label {
        padding: 8px 10px;
        background: rgba(0,0,0,.06);
        border-left: 1px solid rgba(0,0,0,.13);
        line-height: 35px;
        &.ui-state-active {
            background: #dedede;
        }
        &.ui-corner-left {
            border-radius: 3px 0 0 3px;
            border-left: 0;
        }
        &.ui-corner-right {
            border-radius: 0 3px 3px 0;
        }
    }
}
